
VITE_PUBLIC_BACKEND_URL= http://localhost:8000
DASHBOARD_URL=http://localhost:5173/
FONT_AWESOME_KIT_URL=https://api.fontawesome.com/token
FONT_AWESOME_KIT_TOKEN=
VITE_OPENAI_API_KEY=your_openai_api_key
VITE_OPENAI_BASE_URL=https://api.openai.com/v1
VITE_KV_REST_API_URL=your_kv_rest_api_url
VITE_KV_REST_API_TOKEN=your_kv_rest_api_token
VITE_BLOB_READ_WRITE_TOKEN=your_blob_read_write_token
