.menu-item {
    position: relative;
}
.menu-item .toggle-button {
    position: absolute;
    right: 10px;
    top: 8px;
}
main.flex {
    position: relative;
}

/* main .hidden.items-center {
    position: absolute;
    top: 65px;
    right: 25px;
} */
.menu-item svg {
    width: 16px;
}
input[type=file]{
    text-align: left;
    line-height: 1.5;
    direction: rtl;
    width: fit-content;
  }
  



/* div[class=menu-item] {

    border-bottom: 1px solid hsl(var(--foreground))

} */