.menu-item {
    position: relative;
}
.menu-item .toggle-button {
    position: absolute;
    right: 10px;
    top: 8px;
}
main.flex {
    position: relative;
}

/* main .hidden.items-center {
    position: absolute;
    top: 65px;
    right: 25px;
} */
.menu-item svg {
    width: 16px;
}
input[type=file]{
    text-align: left;
    line-height: 1.5;
    direction: rtl;
    width: fit-content;
  }
  



  input:-webkit-autofill {
    -webkit-background-clip: content-box !important;
    transition: all 100000000s ease-in-out 0s !important;
  }

  input:-webkit-internal-autofill-selected{
    transition: all 100000000s ease-in-out 0s !important;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 0s 100000000s, color 0s 100000000s !important;
  }

  .pdf-container canvas{
    width: 100% !important;
    height: auto !important;
  }

/* div[class=menu-item] {

    border-bottom: 1px solid hsl(var(--foreground))

} */