html body[data-scroll-locked]{
    margin-right:0 !important;
    scroll-behavior: smooth;
    overflow: visible !important;
    pointer-events: visible !important;
}

.main-slider .slick-dots {
    top: 0;
    bottom: 0;
    right: 15px;
    z-index: 11;
    text-align: right;
    width: auto;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.main-slider .slick-dots li {
    margin: 0 0 10px;
}

.main-slider .slick-dots li button {
    border: 2px solid #fff;
    border-radius: 50%;
}

.main-slider .slick-dots li.slick-active button:before {
    opacity: 1;
    color: rgb(255, 255, 255);
    opacity: 1;
    transform: scale(1.4);
}

.main-slider .slick-dots li button:before{
    color: rgb(255, 255, 255);
}

.pattern-2 .showPattern::before{
   
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    left: 0;
    top: 0;
    opacity: 0.2; 
    z-index: 1;
}

.pattern-2 .showPattern::after {

    content:'';
    background: url('https://raw.githubusercontent.com/sushilldhakal/lordbuddha/master/assets/img/pattern-2.png');
    background-repeat: repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0.4;
        z-index: 2;
    }

    .data-\[disabled\]\:pointer-events-none[data-disabled] {
        pointer-events: auto;
    }